@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Alexis Pedroza</h1>
    <p>repositorio github<a href="https://github.com/aledroza/MascotaFeliz.git">encuentra todos los programas hasta el modulo 4, recordar las paginas web, no fueron construidas por mi... hay aparece el nombre del propietario</a>.</p>
</div>
